<virtualmachines>
    <virtualmachine name = "WDPLAWN-001">
        <description>Windows 2025 Domain Controller RWDC</description>
        <domainFQDN>LAWNAutomation.LAB</domainFQDN>
        <domain>LAWNAUTO</domain>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="10"/>
            <disk number="2" name="E" SizeGB="10"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-001">
        <description>Windows 2025 Management Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="10"/>
            <disk number="2" name="E" SizeGB="10"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-002">
        <description>Windows 2025 GPOAdmin SQL Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="10"/>
            <disk number="2" name="E" SizeGB="5"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-003">
        <description>Windows 2025 GPOAdmin Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="10"/>
            <disk number="2" name="E" SizeGB="5"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-004">
        <description>Windows 2025 SQL Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="T" SizeGB="50"/>
            <disk number="2" name="E" SizeGB="50"/>
            <disk number="3" name="F" SizeGB="50"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-005">
        <description>Windows 2025 Test Machine</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="50"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-PKIRoot">
        <description>Windows 2025 PKI Root Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="50"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-PKIrCA">
        <description>Windows 2025 PKI Root Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="50"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_gui_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-PKIiCA">
        <description>Windows 2025 PKI Issuing CA Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="50"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_core_2025.iso"/>
        </cdroms>
    </virtualmachine>
    <virtualmachine name = "WSPLAWN-PKIweb">
        <description>Windows 2025 PKI Web Server</description>
        <SwitchName>LiveNetwork</SwitchName>
        <vlan>3</vlan>
        <Path>E:\HYPER-V\LAB</Path>
        <disks>
            <disk number="0" name="OS" SizeGB="127"/>
            <disk number="1" name="D" SizeGB="50"/>
        </disks>
        <cdroms>
            <cdrom number="1" name="InstallMedia" iso="C:\ISO\w2025-26100.32230.iso"/>
            <cdrom number="2" name="UnattendMedia" iso="C:\ISO\Autounattend_core_2025.iso"/>
        </cdroms>
    </virtualmachine>
</virtualmachines>